.select2-selection {

    height: 90px;
    margin-left: 20px;
    margin-right: 20px;
    overflow: auto;
    
}

.table-wrapper {

    height: 750px; 
    overflow: auto;
    overflow-x:hidden;

}

.table-wrapper table thead {

    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    left: 0;

}

.loading {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('images/spinnervlll.gif') 50% 50% no-repeat rgb(240, 240, 240);
	opacity: .8;
  }

